.timer-container {
  padding-left: 156px;
  font-family: 'Montserrat', sans-serif;
}

.iziToast.toast {
  border-radius: 4px;
  background-color: #ef4040;
}

.iziToast.toast .iziToast-body .iziToast-message {
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

#datetime-picker.flatpickr-input {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 242px !important;
  padding: 8px 16px;
  margin: 36px 8px 32px 0;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: border-color 200ms ease-in, color 200ms ease-in;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
}
body .flatpickr-calendar {
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #666;
}
body .flatpickr-day:hover {
  background-color: #c1c1c1;
}
body .flatpickr-day.today {
  border-color: #4e75ff;
  color: inherit;
  background: none;
}
body .flatpickr-day.selected{
  background-color: #4e75ff;
}
.flatpickr-weekdays span.flatpickr-weekday{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #2e2f42;
}
.flatpickr-calendar.open .flatpickr-monthDropdown-months,
.flatpickr-calendar.open .flatpickr-current-month .cur-month {
  font-weight: 600;
  color: #333;
}

.flatpickr-calendar.open .flatpickr-current-month input.cur-year {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.flatpickr-calendar.open .flatpickr-time .flatpickr-am-pm,
.flatpickr-calendar.open .flatpickr-time input {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: #4e75ff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms ease-in-out;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.timer {
  display: flex;
  justify-content: space-between;
  max-width: 346px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-weight: 400;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
