.snackbar-container {
  padding-left: 156px;
  font-family: 'Montserrat', sans-serif;
}
.form {
  margin-top: 36px;
  max-width: 360px;
}
.form > label {
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form input[name='delay'] {
  padding-left: 16px;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  font-size: 16px;
  padding: 0px 16px;
  transition: border-color 250ms ease-in;
}
.form input[name='delay']:hover {
  border-color: #000;
}
.form input[name='delay']:focus {
  border-color: #4e75ff;
}
.form fieldset {
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  display: flex;
  justify-content: space-between;
  display: flex;
  padding: 14px 48px 8px 48px;
  border: 1px solid #808080;
  transition: border-color 250ms ease-in;
}
.form fieldset:hover,
.form fieldset:focus {
  border-color: #000;
}
form input[type='radio'] {
  cursor: pointer;
}
form input[type='radio']:checked {
  border-color: #4d5ae5;
}
.form button[type='submit'] {
  margin-top: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  padding: 8px 0;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease-in;
  font-size: 16px;
}
.form button:hover {
  background-color: #6c8cff;
}
