.container {
  max-width: 1440px;
  padding: 0 15px;
}
.main-link{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.ul-list {
  display: flex;
  align-items: center;
  gap: 80px;
}
.ul-item {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.ul-link:hover,
.ul-link:focus {
  color: #747bff;
}
